<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.demo.dao.TaskZTableMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.demo.dao.entity.TaskZtable">
        <id column="rwid" property="rwid" jdbcType="VARCHAR"/>
        <result column="kcid" property="kcid" jdbcType="VARCHAR" />
        <result column="jTask" property="jTask" jdbcType="VARCHAR" />
        <result column="startdate" property="startdate" jdbcType="TIMESTAMP" />
        <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
        <result column="del" property="del" jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="TaskDo" type="com.company.springboot.demo.vo.TaskVo">
        <result column="jTask" property="jTask" jdbcType="VARCHAR"/>
        <result column="kmid" property="kmid" jdbcType="INTEGER"/>
        <result column="kmName" property="kmName" jdbcType="VARCHAR"/>
        <result column="ryid" property="ryid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="startdate" property="startdate" jdbcType="TIMESTAMP"/>
        <result column="enddate" property="enddate" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="taskList" resultMap="TaskDo">
        SELECT
	ta.jTask,
	su.kmid,
	su.kmName,
	us.ryid,
	us.name,
	ta.startdate,
	ta.enddate,
	ta.status
  FROM
	task_ztable ta
  LEFT JOIN course_table co ON ta.kcid = co.kcid
  LEFT JOIN subject_table su ON co.kmid = su.kmid
  LEFT JOIN user_table us ON co.ryid = us.ryid
<where>
    ta.del = '1'
    <if test="jTask != null and jTask != ''">
      and jTask = #{jTask}
    </if>
    <if test="kmName != null and kmName != ''">
       and kmName = #{kmName}
    </if>
</where>
    </select>


</mapper>