<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.demo.dao.TaskCTableMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.demo.dao.entity.TaskCtable">
        <id column="rwcid" property="rwcid" jdbcType="VARCHAR"/>
        <result column="rwid" property="rwid" jdbcType="VARCHAR" />
        <result column="ryid" property="ryid" jdbcType="VARCHAR" />
        <result column="ztask" property="ztask" jdbcType="VARCHAR" />
        <result column="startdate" property="startdate" jdbcType="TIMESTAMP" />
        <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
        <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
        <result column="submitstate" property="submitstate" jdbcType="VARCHAR" />
        <result column="submittasktime" property="submittasktime" jdbcType="TIMESTAMP" />
        <result column="del" property="del" jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <resultMap id="LeaderWriteTask" type="com.company.springboot.demo.vo.LeaderWriteTask">
        <id column="rwcid" property="rwcid" jdbcType="INTEGER"/>
        <result column="rwid" property="rwid" jdbcType="VARCHAR" />
        <result column="ryid" property="ryid" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="startdate" property="startdate" jdbcType="VARCHAR" />
        <result column="enddate" property="enddate" jdbcType="VARCHAR" />
        <result column="ztask" property="ztask" jdbcType="VARCHAR" />
    </resultMap>


    <resultMap id="StuSubmitTaskVo" type="com.company.springboot.demo.vo.StuSubmitTaskVo">
        <id column="rwcid" property="rwcid" jdbcType="INTEGER"/>
        <result column="ztask" property="ztask" jdbcType="VARCHAR" />
        <result column="kmid" property="kmid" jdbcType="VARCHAR" />
        <result column="kmname" property="kmname" jdbcType="VARCHAR" />
        <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
        <result column="submitstate" property="submitstate" jdbcType="VARCHAR" />
        <result column="submittasktime" property="submittasktime" jdbcType="TIMESTAMP" />
    </resultMap>


    <insert id="addTask">
        insert into task_table(ztask,startdate,starttime,del)where (#{ztask},#{startdate},#{starttime},#{del})
    </insert>

    <!--组长根据rwcid填写任务开始时间/结束时间-->
    <update id="leaderWriteBeginAndOverTime">
        UPDATE task_ctable
        SET startdate=#{startdate},
            enddate=#{enddate}
         WHERE rwcid = #{rwcid}

    </update>

    <!--学生任务信息页面-提交按钮-更改状态-->
    <update id="stuUpdateTaskState">
        update  task_ctable
        set submitstate=#{submitstate}
        where rwcid = #{rwcid}
    </update>


    <select id="leaderWriteTask" resultMap="LeaderWriteTask">
        SELECT
            tc.rwcid,tc.rwid,.tc.ryid,u.name,tc.ztask,
            tc.startdate,tc.enddate
        FROM
            task_ctable tc
        LEFT JOIN user_table u on tc.ryid = u.ryid
        LEFT JOIN limits_table li on u.ryid = li.ryid WHERE li.role = '4'
--         where
--         tc.del = '1'
    </select>

    <!--学生任务信息List-->
    <select id="stuSubmitTaskList" resultMap="StuSubmitTaskVo">
        select
         taskc.rwcid,taskc.ztask,teamz.kmid,sub.kmname,
         taskc.starttime,taskc.endtime,taskc.submitstate,taskc.submittasktime
        FROM
          task_ctable taskc
        LEFT JOIN team_ztable teamz on taskc.rwcid = teamz.rwcid
        LEFT JOIN  subject_table sub on teamz.kmid = sub.kmid
        where
        taskc.del = '1'
    </select>


</mapper>