<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.demo.dao.TeamZTableMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.demo.dao.entity.TeamZtable">
        <id column="zzid" property="zzid" jdbcType="VARCHAR"/>
        <result column="kmid" property="kmid" jdbcType="VARCHAR" />
        <result column="ryid" property="ryid" jdbcType="VARCHAR" />
        <result column="swid" property="swid" jdbcType="VARCHAR" />
        <result column="zname" property="zname" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="del" property="del" jdbcType="VARCHAR" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="TeamzDo" type="com.company.springboot.demo.vo.TeamzVo">
        <result column="zname" property="zname" jdbcType="VARCHAR"/>
        <result column="kmname" property="kmname" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="zpronum" property="zpronum" jdbcType="VARCHAR"/>
        <result column="ztask" property="ztask" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="TeamcDo" type="com.company.springboot.demo.vo.TeamcVo">
        <result column="zzid" property="zzid" jdbcType="INTEGER" />
        <result column="zname" property="zname" jdbcType="VARCHAR"/>
        <result column="kmname" property="kmname" jdbcType="VARCHAR"/>
        <result column="ryid" property="ryid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="jtask" property="jtask" jdbcType="VARCHAR"/>
        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
        <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <update id="updatedel">
        update team_ztable set del = '0' where id = #{zzid}
    </update>


    <select id="teamlist" resultMap="TeamzDo">
SELECT
    te.zzid
	te.zname,
	su.kmname,
	ur. NAME,
	te.zpronum,
	co.ztask,
	te. STATUS
FROM
	team_ztable te
LEFT JOIN subject_table su ON te.kmid = su.kmid
LEFT JOIN user_table ur ON te.ryid = ur.ryid
LEFT JOIN task_ctable co ON te.rwcid = co.rwcid
where te.del = '1'
    </select>

    <select id="findByZzid" resultType="java.lang.String">
  select zzid
        from team_ztable
        where id = #{zzid}

    </select>
    <select id="findByfenzu" resultMap="TeamcDo">
SELECT
	tz.zname,
	su.kmname,
	us.ryid,
	us. NAME,
	co.jtask,
	tz.created_by,
	tz.created_time
FROM team_ztable tz
LEFT JOIN subject_table su ON tz.kmid = su.kmid
LEFT JOIN user_table us ON tz.ryid = us.ryid
LEFT JOIN limits_table li ON us.ryid = li.ryid
LEFT JOIN task_ctable ta ON tz.rwcid = ta.rwcid
LEFT JOIN task_ztable co ON ta.rwid = co.rwid
<where>
	tz.del = '1'
AND li.role = '3'
    <if test="zname != null and zname != ''">
      and zname = #{zname}
    </if>
</where>
    </select>
    <select id="findByzuyuan" resultMap="TeamcDo">
        SELECT tc.ryid,bs.name from
team_ctable tc
LEFT JOIN user_table bs on tc.ryid = bs.ryid
LEFT JOIN limits_table bl on bs.ryid = bl.ryid
WHERE bl.role = '4'
    </select>


</mapper>